image-cropper {
  --cropper-outline-color: rgba(0, 0, 0, 0.642);
  --cropper-overlay-color: var(--ion-background-color);
}

#image-grid {
  padding-bottom: 5em;
}

.check-attribute {
  margin-right: 0.7em;
}
