#main-content ion-title {
  padding-left: 0;
  padding-right: 0;
}

ion-menu-button {
  color: var(--ion-text-color);
}

#wsl-logo-text {
  color: #007B83;
}

#wsl-logo {
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
}

image-cropper {
  --cropper-outline-color: rgba(0, 0, 0, 0.642);
  --cropper-overlay-color: var(--ion-background-color);
}

#image-grid {
  padding-bottom: 5em;
}

.check-attribute {
  margin-right: 0.7em;
}

ion-img {
  position: relative;
}

.image-label {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

ion-fab-button.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}