#main-content ion-title {
  padding-left: 0;
  padding-right: 0;
}

ion-menu-button {
  color: var(--ion-text-color);
}

#wsl-logo-text {
  color: #007B83;
}

#wsl-logo {
  width: 2em;
  height: 2em;
  margin: 0 0.5em 0 0.3em;
}

image-cropper {
  --cropper-outline-color: rgba(0, 0, 0, 0.642);
  --cropper-overlay-color: var(--ion-background-color);
}

#image-grid {
  padding-bottom: 5em;
}

.check-attribute {
  margin-right: 0.7em;
}

ion-img {
  position: relative;
}

.image-label {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

#camera-button {
  margin-left: 5px;
}

#send-button {
  margin-right: 5px;
}

#send-button,
#clear-button,
#camera-button {
  margin-bottom: 5px;
}

.ios #send-button,
.ios #clear-button,
.ios #camera-button {
  margin-bottom: 15px;
}

ion-fab-button.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.25);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

#terms-of-use-modal {
  P, .wrap {
    line-height: 1.7;
  }
  .wrap {
    white-space: normal;
  }
}
