<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SpeciesID
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngIf="response != ''">
      <pre>Response: {{response}}</pre>
    </ion-item>
    <ion-item
      *ngIf="selectedAttributes.includes(Attribute.Lat) || selectedAttributes.includes(Attribute.Lon) || selectedAttributes.includes(Attribute.Date)">
      <ion-label *ngIf="selectedAttributes.includes(Attribute.Lat) || selectedAttributes.includes(Attribute.Lon)">
        <h3>Latitude / Longitude</h3>
        <p><small>{{ isLatManual ? (manualLat | number:'1.7-7') : (currentLat | number:'1.7-7') }} /
            {{ isLonManual ? (manualLon | number:'1.7-7') : (currentLon | number:'1.7-7') }}</small></p>
      </ion-label>
      <ion-label class="ion-text-right" *ngIf="selectedAttributes.includes(Attribute.Date)">
        <h3>Date</h3>
        <p><small>{{isDateManual ? manualDate : date}}</small></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Active API is {{selectedApi.name}}</h3>
        <p><small>{{selectedApi.url}}</small></p>
      </ion-label>
    </ion-item>
    <ion-item (click)="configureApisClicked()">
      <ion-icon aria-hidden="true" name="chevron-forward-outline" slot="end"></ion-icon>
      <ion-label>Configure APIs</ion-label>
    </ion-item>
    <ion-item (click)="requestParameterModalOpen = true">
      <ion-icon aria-hidden="true" name="chevron-forward-outline" slot="end"></ion-icon>
      <ion-label>Configure Request Parameters</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid id="image-grid" *ngIf="selectedAttributes.includes(Attribute.Images)">
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedAttributes.includes(Attribute.Images)">
    <ion-fab-button (click)="addPhotoToGallery()" [disabled]="photoService.photos.length >= 5">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="submit()" [disabled]="photoService.photos.length == 0">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="clear()" [disabled]="photoService.photos.length == 0">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal [isOpen]="photoService.croppingImage !== null" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Crop Image</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="photoService.imageNotCropped()">Skip</ion-button>
          <ion-button (click)="photoService.processImage()">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <image-cropper [imageBase64]="photoService.croppingImage" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
        format="png" [hideResizeSquares]="photoService.isMobile" [transform]="photoService.transform" [autoCrop]="true"
        (imageCropped)="photoService.imageCropped($event)" (loadImageFailed)="photoService.loadImageFailed()"
        (imageLoaded)="photoService.imageLoaded()"></image-cropper>

    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="apiModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Configure APIs</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="apiModalOpen = false">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item-divider>
        <ion-label>
          Existing
        </ion-label>
      </ion-item-divider>
      <ion-list>
        <ion-item>
          <ion-icon (click)="setInfoFloraApi()" slot="start"
            [name]="selectedApi.name === 'Plants - Info Flora' ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
          <ion-label (click)="setInfoFloraApi()">
            <h3 class="url-h3"><ion-icon name="earth-outline"></ion-icon>Plants - Info Flora</h3>
            <p><small>{{urlInfoflora}}</small></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon (click)="setWslApi()" slot="start"
            [name]="selectedApi.name === 'Plants - WSL' ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
          <ion-label (click)="setWslApi()">
            <h3 class="url-h3"><ion-icon name="earth-outline"></ion-icon>Plants - WSL</h3>
            <p><small>{{urlWsl}}</small></p>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let customApi of customApis">
          <ion-icon (click)="selectApi(customApi)" slot="start"
            [name]="selectedApi.name === customApi.name ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
          <ion-label (click)="selectApi(customApi)">
            <h3 class="url-h3"><ion-icon
                [name]="customApi.isLocal ? 'business-outline' : 'earth-outline'"></ion-icon>{{customApi.name}}</h3>
            <p><small>{{customApi.url}}</small></p>
          </ion-label>
          <ion-icon slot="end" name="close-outline" (click)="removeCustomApi(customApi)"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-item-divider>
        <ion-label>
          Add New
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-input [(ngModel)]="newCustomApi.name" placeholder="Enter API Name" label="Name"
          labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newCustomApi.url" placeholder="Enter URL (start with https://)" label="URL"
          labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle [checked]="newCustomApi.isLocal" [(ngModel)]="newCustomApi.isLocal">Is a local URL</ion-toggle>
      </ion-item>
      <ion-button (click)="addCustomApi()" fill="clear" expand="full"
        [disabled]="newCustomApi.name === '' || newCustomApi.url === ''">Add
      </ion-button>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="requestParameterModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Configure Request Parameters</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="requestParameterModalOpen = false">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-icon (click)="attributeCheckClicked(Attribute.Images)" slot="start"
          [name]="isAttributeSelected(Attribute.Images) ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        <ion-label>Images</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon (click)="attributeCheckClicked(Attribute.Date)" slot="start"
          [name]="isAttributeSelected(Attribute.Date) ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        <ion-input *ngIf="!isDateManual" placeholder="Date" label="Date" labelPlacement="stacked" [(ngModel)]="date"
          type="text" [disabled]="true"></ion-input>
        <ion-input *ngIf="isDateManual" placeholder="Date" label="Date" labelPlacement="stacked"
          [(ngModel)]="manualDate" type="text" (ionChange)="onManualDateChange($event)"></ion-input>
        <ion-toggle slot="end" [checked]="isDateManual" labelPlacement="stacked"
          (ionChange)="isDateManualChange($event)"><small>Set
            manually</small></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon (click)="attributeCheckClicked(Attribute.Lat)" slot="start"
          [name]="isAttributeSelected(Attribute.Lat) ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        <ion-input *ngIf="!isLatManual" placeholder="Latitude" label="Latitude" labelPlacement="stacked"
          [(ngModel)]="currentLat" type="number" [disabled]="true"></ion-input>
        <ion-input *ngIf="isLatManual" placeholder="Latitude" label="Latitude" labelPlacement="stacked"
          [(ngModel)]="manualLat" type="number" (ionChange)="onManualLatChange($event)"></ion-input>
        <ion-toggle slot="end" [checked]="isLatManual" [(ngModel)]="isLatManual" labelPlacement="stacked"
          (ionChange)="isLatManualChange($event)"><small>Set
            manually</small></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon (click)="attributeCheckClicked(Attribute.Lon)" slot="start"
          [name]="isAttributeSelected(Attribute.Lon) ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        <ion-input *ngIf="!isLonManual" placeholder="Longitude" label="Longitude" labelPlacement="stacked"
          [(ngModel)]="currentLon" type="number" [disabled]="true"></ion-input>
        <ion-input *ngIf="isLonManual" placeholder="Longitude" label="Longitude" labelPlacement="stacked"
          [(ngModel)]="manualLon" type="number" (ionChange)="onManualLonChange($event)"></ion-input>
        <ion-toggle slot="end" [checked]="isLonManual" [(ngModel)]="isLonManual" labelPlacement="stacked"
          (ionChange)="isLonManualChange($event)"><small>Set
            manually</small></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon (click)="attributeCheckClicked(Attribute.NumTaxonId)" slot="start"
          [name]="isAttributeSelected(Attribute.NumTaxonId) ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        <ion-input (ionChange)="numTaxonIdChange($event)" placeholder="Enter num. Taxon ID" label="Num. Taxon ID"
          labelPlacement="stacked" [(ngModel)]="num_taxon_id" type="number"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon (click)="attributeCheckClicked(Attribute.ReqTaxonId)" slot="start"
          [name]="isAttributeSelected(Attribute.ReqTaxonId) ? 'checkmark-circle' : 'ellipse-outline'"></ion-icon>
        <ion-input *ngIf="!isReqTaxonIdsAlphaNumeric" (ionChange)="reqTaxonIdsChange($event)"
          placeholder="Req. Taxon ID" label="Req. Taxon IDs (separate by commas)" labelPlacement="stacked"
          [ngModel]="req_taxon_ids" [type]="'text'"></ion-input>
        <ion-input *ngIf="isReqTaxonIdsAlphaNumeric" (ionChange)="reqTaxonIdsChange($event)" placeholder="Req. Taxon ID"
          label="Req. Taxon IDs (separate by commas)" labelPlacement="stacked" [ngModel]="req_taxon_ids_str"
          [type]="'text'"></ion-input>
        <ion-toggle slot="end" [checked]="isReqTaxonIdsAlphaNumeric" [(ngModel)]="isReqTaxonIdsAlphaNumeric"
          labelPlacement="stacked"
          (ionChange)="isReqTaxonIdsAlphaNumericChange($event)"><small>Alphanumeric</small></ion-toggle>
      </ion-item>

    </ion-content>
  </ng-template>
</ion-modal>